{% extends "layout.html" %} {% load static %}
{% block headerclass %}
{% endblock %}
{% block styleclass %}
.inputlabel{
padding-top: 5px;
}
* { // this works for all but td
word-wrap:break-word;
}
.report_scroll {
height: 900px; !important
}
.select2-selection__choice {
zoom: 90%
}
.select2-selection{
overflow: auto;
max-height: 150px;
}

.card-body{
visibility: visible;
}
{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header bg-transparent  border-white">
        <h3>
            LIM : CHECKLIST
        </h3>
    </div>

    <div class="card-header bg-transparent mb-3">
        <div class="row">
            <label class="requiredField" for="machine" id="site_label">Select Stations:&nbsp;</label>
            <div class="input-group input-group-md" id="div_id_site">
                <select class="form-control dropdown-search" id="machine" multiple="multiple">
                    <!--                <option value="all">Select All</option>-->
                    <option value="Lim-1">LIM1 - Nipple</option>
                    <option value="Lim-2">LIM2 - Nipple</option>
<!--                    <option value="Lim-3">LIM3 - Bottle</option>-->
<!--                    <option value="Lim-4">LIM4 - Bottle</option>-->
                </select>
            </div>
        </div>

        <div class="row">
            <button class="ml-2 btn btn-sm btn-primary" onclick="get_data();"
                    title="Update Report" type="button">
                Update
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="tabl_div">
            <table class="cell-border display compact table-hover" id="datatables_lim_check" style="width:100%;">
                <thead>
                <tr>
                    <th>Parameters</th>
                    <th>Value</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody></tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

<script type="text/javascript">




</script>
<script type="text/javascript" src="/static/vendors/datatable/datatables.min.js"></script>
<script type="text/javascript" src="/static/vendors/datatable/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/vendors/datatable/buttons.flash.min.js"></script>
<script type="text/javascript" src="/static/vendors/datatable/jszip.min.js"></script>
<script type="text/javascript" src="/static/vendors/datatable/buttons.html5.min.js"></script>
<script type="text/javascript" src="/static/vendors/datatable/vfs_fonts.js"></script>
<script type="text/javascript" src="/static/vendors/datatable/buttons.print.min.js"></script>
<script type="text/javascript" src="/static/vendors/datatable/buttons.colVis.min.js"></script>

{% endblock %}