{% extends "layout.html" %} {% load static %}
{% block headerclass %}
<meta charset="UTF-8">
<link rel="stylesheet"type="text/css"  href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="jquery/dataTables.bootstrap.min.css" />
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/fixedcolumns/4.0.1/css/fixedColumns.dataTables.min.css">
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

<!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">-->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">-->
<!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>-->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.4.0/css/searchPanes.dataTables.min.css">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">-->
<!--<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">-->

{% endblock %}
{% block styleclass %}
{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header bg-transparent  border-white">
            <center>
        <h3> LIM : CHECKLIST  </h3>
            </center>
        <div class="row">
            <label class="requiredField" for="machine" id="site_label">Select LIM Machine:&nbsp;</label>
                <select class="form-control" id="machine">
                    <option value="Lim-1">LIM1 - Nipple</option>
                    <option value="Lim-2">LIM2 - Nipple</option>
                </select>
            <button class="ml-2 mt-2 btn btn-md btn-primary" onclick="get_data();"
                    title="Update Report" type="button">
                Update
            </button>
        </div>
    </div>
        <div id="tabl_div" class="ml-5 mt-3">
            <table id="datatables_lim_check" class="mdl-data-table table-bordered" style="width: 1300px; !important;">
                <thead>
                <tr>
                    <th>Parameters</th>
                    <th>Value</th>
                    <th>Remarks</th>
                </tr>
                </thead>
            </table>
        </div>
 </div>

{% endblock %}
{% block js %}

<script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
#added
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>




<script type="text/javascript">
function get_data(){
    mac_no= $("#machine").val();
    $('#datatables_lim_check').DataTable({
              "destroy": true,
              "dom": 'Bfrtip',
              "aLengthMenu": [
            [20, 50, 100, -1],
            [20, 50, 100, "All"]
        ],
              "ajax":{
                   "url":'/lim_checklist_report',
                   "data": {'mac_no':mac_no, 'rtype':'lim_check'},
                   "contentType": "application/json",
                    "dataType": "json",
                   beforeSend: function(xhr) {
                         xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                     },

                "dataSrc": function (response) {
                return response.data
                }
            },
            "columns" : [
                        {"data": "parameters"},
                   { "data": "values"},
                   {"data": "remarks"}
                 ],
             "columnDefs":
            [{
                        targets: ['_all'],
                        className: 'mdc-data-table__cell',
            }],

             });
    $('#datatables_lim_check').show();

}



</script>


{% endblock %}