{% extends "layout.html" %}  {% load static %}
{% block  content %}
<form class="form-prodcution" method="post">
    {% csrf_token %}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">FILL NIPPLE PRODUCTION DETAILS</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Item
                                    Code</label>
                                <div class="col-sm-9">
                                    <select class="form-control" required>
                                        <option>FO011</option>
                                        <option>FO012</option>
                                        <option>FO013</option>
                                        <option>FO014</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Product
                                    Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" required>
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>Y</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Shift</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="shifts" required>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">HOUR</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="hours" required>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">LOT No.</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="HE01NA"
                                           name="lot_no" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Piece weight</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="6.5g"
                                           name="avg_weight" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Bin/Box number</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control"
                                           placeholder="Physical bin number"
                                           name="phy_bin_no" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Material code</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                           placeholder="PB203" value="PB203"
                                           name="rmat_code" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Material Lot no</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                           placeholder="PB203" value=""
                                           name="rmat_lot_no" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Total Good Production</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control"
                                           placeholder="Total good production"
                                           name="total_good_prod" required>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12">
        <div class="card grid-margin stretch-card">
            <div class="card-header">
                <h4 class="card-title">FILL REJECTION DETAILS</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dark_spot">Dark
                                spot</label>
                            <input type="number"
                                   class="form-control"
                                   id="dark_spot">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="bubbles">Bubbles</label>
                            <input type="number"
                                   class="form-control"
                                   id="bubbles">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="weld_line">Weld
                                Line</label>
                            <input type="number"
                                   class="form-control"
                                   id="weld_line">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="shot_short">Shotshort</label>
                            <input type="number"
                                   class="form-control"
                                   id="shot_short">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="deforamtion">Deformation</label>
                            <input type="number"
                                   class="form-control"
                                   id="deforamtion">
                        </div>
                    </div>
            </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="white_spot">White
                                    Spot</label>
                                <input type="number"
                                       class="form-control"
                                       id="white_spot">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="contamination">Contanmination</label>
                                <input type="number"
                                       class="form-control"
                                       id="contamination">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="silicon_thread">Silicon
                                    Thread</label>
                                <input type="number"
                                       class="form-control"
                                       id="silicon_thread">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cured_silicon">Cured
                                    Silicon</label>
                                <input type="number"
                                       class="form-control" id="cured_silicon">
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">DOWNTIME DETAILS, IF ANY</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Middle Plate</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control mt-3"
                                       placeholder="Time in mins" name="mid_plate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Filter issue</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control mt-3"
                                       placeholder="Time in mins" name="filter_issue">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">WASTAGE DETAILS, IF ANY</h4>
                    </div>


                     <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Purging wastage(in kgs)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control mt-3"
                                       placeholder="" name="purge_wastage">
                            </div>
                        </div>
                    </div>



                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Drum A wastage</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control mt-3"
                                       placeholder="" name="drum_a">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"> Drum B wastage</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control mt-3"
                                       placeholder="" name="drum_b">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2 mb-2"> Submit </button>
                    <button class="btn btn-secondary mb-2"> Cancel </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}
<script type="text/javascript" >



window.onload = function() {
  // provs is an object but you can think of it as a lookup table
  var provs = {

      'A' : ['07:00 AM','08:00 AM','09:00 AM','10:00 AM','11:00 AM','12:00 PM','01:00 PM', '02:00 PM'],
      'B': ['02:00 PM','03:00 PM','04:00 PM','05:00 PM','06:00 PM','07:00 PM', '08:00 PM', '09:00 PM', '10:00 PM'],
      'C': ['10:00 PM','11:00 PM','12:00 AM','01:00 AM','02:00 AM','03:00 AM', '04:00 AM', '05:00 AM', '06:00 AM', '07:00 AM']

      },
      // just grab references to the two drop-downs
      prov_select = document.querySelector('#shifts'),
      town_select = document.querySelector('#hours');

  // populate the provinces drop-down
  setOptions(prov_select, Object.keys(provs));
  // populate the town drop-down
  setOptions(town_select, provs[prov_select.value]);

  // attach a change event listener to the provinces drop-down
  prov_select.addEventListener('change', function() {
    // get the towns in the selected province
    setOptions(town_select, provs[prov_select.value]);
  });

  function setOptions(dropDown, options) {
    // clear out any existing values
    dropDown.innerHTML = '';
    // insert the new options into the drop-down
    options.forEach(function(value) {
      dropDown.innerHTML += '<option name="' + value + '">' + value + '</option>';
    });
  }
};

</script>
{% endblock %}
