{% extends "layout.html" %}  {% load static %}
{% block style %}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.active{
    display:block;
}
{% endblock %}
{% block  content %}
<form class="form-prodcution" method="post">
    {% csrf_token %}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header mb-1">
                    <h4 class="card-title">FILL NIPPLE PRODUCTION DETAILS</h4></div>
                    <div class="row">
                        <div class="col padding-0">
                                <div class="col">
                                    <label><strong> Item Code</strong></label>
                                    <select class="form-control" required>
                                        <option>FO011</option>
                                        <option>FO012</option>
                                        <option>FO013</option>
                                        <option>FO014</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col padding-0">
                                <div class="col-sm-12">
                                    <label><strong>Product Type</strong></label>
                                    <select class="form-control" required>
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>Y</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col padding-0">

                                <label><strong>Shift</strong></label>
                                <div class="col">
                                    <select class="form-control" id="shifts" required>
                                        <option>A</option>
                                        <option>B</option>
                                        <option>C</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col padding-0">
                            <label><strong>LOT No.</strong></label>
                                <div class="col">
                                    <input class="form-control" placeholder="HE01NA"
                                           name="lot_no" required>
                                </div>

                        </div>
                        <div class="col padding-0">
                            <label><strong>Piece weight</strong></label>
                                <div class="col">
                                    <input class="form-control" placeholder="6.5g"
                                           name="avg_weight" required>
                                </div>
                        </div>
                        <div class="colpadding-0">
                            <label><strong>Material Lot no</strong></label>
                                <div class="col">
                                    <input type="text" class="form-control"
                                           placeholder="PB203" value=""
                                           name="rmat_lot_no" required>
                                </div>
                        </div>
                        <div class="col padding-0">

                            <label><strong>Total Good Production</strong></label>
                                <div class="col">
                                    <input type="number" class="form-control"
                                           placeholder="Total good production"
                                           name="total_good_prod" required>
                                </div>

                        </div>
                        <div class="col padding-0">

                            <label><strong>Material code</strong></label>
                                <div class="col">
                                    <input type="text" class="form-control"
                                           placeholder="PB203" value="PB203"
                                           name="rmat_code" required>
                                </div>

                        </div>
                </div>

            </div>
            </div>
        </div>
    </div>
    <div class="shift-wise">
        <div class="col-lg-12 col-md-12 active">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-header">
                            <h4 class="card-title">REJECTION DETAILS, IF ANY</h4>
                        </div>
                      <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>
                                REJECTION LIST
                              </th>
                              <th>
                                7-8
                              </th>
                              <th>
                                8-9
                              </th>
                              <th>
                                9-10
                              </th>
                              <th>
                                10-11
                              </th>
                                <th>
                                11-12
                              </th>
                                <th>
                                12-13
                              </th>
                                <th>
                                13-14
                              </th>
                                <th>
                                14-15
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                    Dark Spot
                                  </td>
                                  <td>
                                    <input type="number" class="form-control"  id="dark_spot_7_8">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot_8_9">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot_9_10">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                              <tr>
                                  <td>
                                    Bubbles
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="bubbles">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                              <tr>
                                  <td>
                                    Weld Line
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                              <tr>
                                  <td>
                                    Shotshort
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                              <tr>
                                  <td>Deformation
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                              <tr>
                                  <td>
                                   White Spot
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                              <tr>
                                  <td>
                                    Contanmination
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                              <tr>
                                  <td>
                                    Silicon Thread
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                              <tr>
                                  <td>
                                   Cured Silicon
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" id="dark_spot">
                                  </td>

                                </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div >
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">DOWNTIME DETAILS, IF ANY</h4>
                        </div>
                        <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>
                                DOWNTINE
                              </th>
                              <th>
                                7-8
                              </th>
                              <th>
                                8-9
                              </th>
                              <th>
                                9-10
                              </th>
                              <th>
                                10-11
                              </th>
                                <th>
                                11-12
                              </th>
                                <th>
                                12-13
                              </th>
                                <th>
                                13-14
                              </th>
                                <th>
                                14-15
                              </th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr>
                              <td>
                                Middle plate
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>

                            </tr>
                          <tr>
                              <td>
                                Filter issue
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>
                              <td>
                                <input type="number" class="form-control" id="dark_spot">
                              </td>

                            </tr>
                          </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">WASTAGE DETAILS, IF ANY</h4>
                    </div>

                    <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            WASTAGE
                          </th>
                          <th>
                            7-8
                          </th>
                          <th>
                            8-9
                          </th>
                          <th>
                            9-10
                          </th>
                          <th>
                            10-11
                          </th>
                            <th>
                            11-12
                          </th>
                            <th>
                            12-13
                          </th>
                            <th>
                            13-14
                          </th>
                            <th>
                            14-15
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>
                            DRUM A WASTAGE
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>

                        </tr>
                        <tr>
                          <td>
                            DRUM A WASTAGE
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>

                        </tr>
                      <tr>
                          <td>
                            Purging waste in Kgs
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>
                          <td>
                            <input type="number" class="form-control" id="dark_spot">
                          </td>

                        </tr>
                      </tbody>
                    </table>
                    </div>

                    </div>




                    <button type="submit" class="btn btn-primary mr-2 mb-2"> Submit </button>
                    <button class="btn btn-secondary mb-2"> Cancel </button>
                </div>
            </div>
        </div>
    </div>
    </div>

</form>
{% endblock %}
{% block js %}
<script type="text/javascript" >



window.onload = function() {
  // provs is an object but you can think of it as a lookup table
  var provs = {

      'A' : ['07:00 AM','08:00 AM','09:00 AM','10:00 AM','11:00 AM','12:00 PM','01:00 PM', '02:00 PM'],
      'B': ['02:00 PM','03:00 PM','04:00 PM','05:00 PM','06:00 PM','07:00 PM', '08:00 PM', '09:00 PM', '10:00 PM'],
      'C': ['10:00 PM','11:00 PM','12:00 AM','01:00 AM','02:00 AM','03:00 AM', '04:00 AM', '05:00 AM', '06:00 AM', '07:00 AM']

      },
      // just grab references to the two drop-downs
      prov_select = document.querySelector('#shifts'),
      town_select = document.querySelector('#hours');

  // populate the provinces drop-down
  setOptions(prov_select, Object.keys(provs));
  // populate the town drop-down
  setOptions(town_select, provs[prov_select.value]);

  // attach a change event listener to the provinces drop-down
  prov_select.addEventListener('change', function() {
    // get the towns in the selected province
    setOptions(town_select, provs[prov_select.value]);
  });

  function setOptions(dropDown, options) {
    // clear out any existing values
    dropDown.innerHTML = '';
    // insert the new options into the drop-down
    options.forEach(function(value) {
      dropDown.innerHTML += '<option name="' + value + '">' + value + '</option>';
    });
  }
};

</script>
{% endblock %}
