{% extends "layout.html" %} {% load static %}
{% block headerclass %}
<meta charset="UTF-8">
<link rel="stylesheet"type="text/css"  href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="jquery/dataTables.bootstrap.min.css" />
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/fixedcolumns/4.0.1/css/fixedColumns.dataTables.min.css">
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

<!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">-->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">-->
<!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>-->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.4.0/css/searchPanes.dataTables.min.css">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">-->
<!--<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">-->

{% endblock %}
{% block styleclass %}
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header bg-transparent  border-white">
            <center>
        <h3> Production Sheet - Nov</h3>
            </center>
    </div>
    <div class="card-body">
        <table id="data_table" class="mdl-data-table table-hover " style="width:100%;"></table>
    </div>
</div>

{% endblock %}
{% block js %}

<script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>




<script type="text/javascript">
$(document).ready(function () {

    var columns = []; // array
    var response = null;
                $('#data_table').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": function (data, callback, settings) {
                        $.ajax({
                            url: 'prod_report_ajax/',
                            type: 'POST',
                            data: data,
                            success: function (data) {
                                response = data.data;
                                alert(response);

                                $.each(response[0], function (key, value) {
                                    var my_item = {};
                                    my_item.title = key;
                                    my_item.data = key;
                                    columns.push(my_item);

                                });

                                //console.log(response);
                                callback(data);
                            }
                        })
                    },
                    "data": response,
                    "columns": columns

                });



});

</script>


{% endblock %}